# Ignore specific files
archive-writing.php.old
header.php
.DS_Store
Thumbs.db

# Ignore directories
dist/
node_modules/
.idea
.svn
.cvs

# Ignore specific file extensions
*.bak
*.swp

# Exclude everything in this directory
