h1 {
    color: $text;
}

.entry-content {
    h1 {
        color: $text;
    }
    h2 {
        color: $text;
    }
    h3 {
        color: $text;
    }
    h4 {
        color: $text;
    }
    h5 {
        color: $text;
    }
    h6 {
        color: $text;
    }
}

h2 {
    color: $text;
}

h3 {
    color: $text;
}

h4 {
    color: $text;
}

h5 {
    color: $text;
}

h6 {
    color: $text;
}

.lede {
    p {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -0.1px;
        line-height: 32px;
    }
}