.front-cover {
    margin-top: 30px; // To compensate for being hidden by fixed navbar
}

.blurb-box {
    .wp-block-quote {
        max-width: 800px;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
        text-align: center;
    }
}

.max-width {
    max-width: 800px;
    margin: auto;
}

.page-header {
    margin-top: 7rem !important;
    // margin-bottom: 3rem !important;
    text-align: center;
}

.archive {
    a {
        text-decoration: none;
        border-bottom: 1px dotted transparent;
        &:hover {
            color: $purple;
            // border-bottom: 1px dotted $primary;
        }
    }
}