.front-cover {
    margin-top: 30px; // To compensate for being hidden by fixed navbar
}

.blurb-box {
    .wp-block-quote {
        max-width: 800px;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
        text-align: center;
    }
}

.max-width {
    max-width: 800px;
    margin: auto;
}

.page-header {
    margin-top: 7rem !important;
    // margin-bottom: 3rem !important;
    text-align: center;
    margin-bottom: 2rem;
}

//** ARCHIVE STUFF **//
.archive {
    a {
        text-decoration: none;
        border-bottom: 1px dotted transparent;

        &:hover {
            color: $purple;
            // border-bottom: 1px dotted $primary;
        }
    }
}

.tags {

    // padding: 5px;
    // margin-bottom: 15px;
    // background-color: pink;
    a {
        color: $white;
        text-transform: lowercase;
        font-size: 0.8rem;
        letter-spacing: 2px;
        background-color: $primary;
        padding: 2px 7px 2px 7px;

        &:hover {
            color: $white;
            background-color: #000000;
            text-decoration: underline !important;
        }
    }
}

// BOOK // 
.book {
    h1 {
        // text-align: center;
        font-style: normal;
    }
}

// ALIGNMENT // 
.baseline {
    display: inline;
    vertical-align: baseline;
}

.bottom {
    display: inline;
    vertical-align: bottom;
}

.padding-1 {
    ul {
        padding-left: 1rem !important;
    }
}

.praise {
    margin-top: 4rem;
}

ul {
    padding-left: 1rem;
}

// FOOTER // 
#wrapper-footer {
    background-color: $red;
    text-align: center;

    p {
        color: $white;
        font-size: 0.8rem;
    }

    a {
        color: $white;
        ;
        text-decoration: underline;

        &:hover {
            color: $yellow;
        }
    }

    .myriam-social {
        // margin: 0 5px 0 5px;
    }

    .wp-block-social-links {
        .wp-block-social-link {
            .wp-block-social-link-anchor {
                background-color: $red;
                font-size: 2rem;

                svg {
                    // background-color: $red;
                }
            }
        }
    }
}

// POST TYPE WRITING (BLOG POSTS) 

.entry-meta {
    font-size: 0.9rem;
}

.type-writing {
    max-width: 1024px;
    margin: auto;
    margin-top: var(--bs-gutter-y);
}