h1 {
	font-family: obviously-narrow, sans-serif;
	font-weight: 700;
	font-style: normal;
}
h2 {
	font-family: obviously-narrow, sans-serif;
	font-weight: 700;
	font-style: normal;
}
h3 {
	font-family: obviously-narrow, sans-serif;
	font-weight: 700;
	font-style: normal;
}
h4 {
	font-family: obviously-narrow, sans-serif;
	font-weight: 700;
	font-style: normal;
}
h5 {
	font-family: obviously-narrow, sans-serif;
	font-weight: 700;
	font-style: normal;
}




// font-family: obviously-condensed, sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: obviously-condensed, sans-serif;
// font-weight: 400;
// font-style: italic;

// font-family: obviously-condensed, sans-serif;
// font-weight: 700;
// font-style: normal;

// font-family: obviously-condensed, sans-serif;
// font-weight: 700;
// font-style: italic;

// font-family: obviously-narrow, sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: obviously-narrow, sans-serif;
// font-weight: 400;
// font-style: italic;

// font-family: obviously-narrow, sans-serif;
// font-weight: 700;
// font-style: normal;

// font-family: obviously-narrow, sans-serif;
// font-weight: 700;
// font-style: italic;

// font-family: obviously, sans-serif;
// font-weight: 300;
// font-style: normal;

// font-family: obviously, sans-serif;
// font-weight: 300;
// font-style: italic;

// font-family: obviously, sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: obviously, sans-serif;
// font-weight: 400;
// font-style: italic;

// font-family: obviously, sans-serif;
// font-weight: 700;
// font-style: normal;

// font-family: obviously, sans-serif;
// font-weight: 800;
// font-style: normal;