//** MOBILE STYLES **// 
@media (max-width: 575.98px) {
    .mobi-hide {
        display: none !important;
    }
    .mobi-show {
        display: block !important;
    }
    .front-cover {
        h2 {
            font-size: 3rem;
        }
    }
    .page-header {
        // margin-top: 7rem !important;
        margin-bottom: 3rem !important;
    }
}

@media (min-width: 576px) {
    .mobi-show {
        display: none !important;
    }
}