body {
    font-family: "Montserrat", 'Times New Roman', Times, serif;
}

h1 {
    font-family: "Bebas Neue", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 1;
}

h2 {
    font-family: "Bebas Neue", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
}

.archive {
    h2 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 0;
    }
}

h3 {
    font-family: "Bebas Neue", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
}

h4 {
    font-family: "Bebas Neue", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
}

h5 {
    font-family: "Bebas Neue", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
}

.navbar-brand {
    padding-top: 0.5rem;
    @extend h1;
    font-size: 3rem;
    font-style: normal;
}

#main-nav {
    color: $white;
    //     a {
    //         color: $white;
    //     }
}

.front-cover {
    h2 {
        font-size: 5rem;
        color: $muertos2-01 !important;
    }

    p {
        color: $muertos2-01 !important;
    }
}

.blurb-box {
    .wp-block-quote {
        p {
            @extend h3;
            margin-bottom: 0rem;
        }

        cite {
            font-family: 'Big Shoulders Display', Arial, Helvetica, sans-serif;
            color: $primary;
            font-size: 1.2rem;
            letter-spacing: 2px;
            font-style: normal;
            margin-top: 0 !important;
        }
    }
}

.book-box {
    h2 {
        color: $yellow !important;
    }

    .wp-block-post-date {
        display: none;
    }

    p {
        color: $yellow !important;
    }
}

.media-box {
    h2 {
        color: $white !important;
    }

    .wp-block-post-date {
        display: none;
    }

    p {
        color: $white !important;
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.dark {
    a {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.magazine {
    p {
        font-family: "Big Shoulders Display", Arial, Helvetica, sans-serif;
        color: $primary;
        letter-spacing: 2px;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
    }

    .date {
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 0.8rem;
    }
}

// Events Calendar Party Time
.tribe-events-single-event-description {
    h2 {
        font-size: 1.75rem !important;
    }
}

.tribe-events-meta-group {
    .tribe-events-single-section-title {
        font-size: 1.5rem;
    }
}

.tribe-events-event-meta {
    font-size: 1rem;
}

.blurb-box .wp-block-quote cite {
    margin-top: 10 !important;
}

.pulitzer {
    font-size: 164px;
}

// Block quote citation top margin.

.blockquote-footer {
    margin-top: 0rem;
}

.wp-block-quote {
    cite {
        margin-top: 0rem;
        padding-top: 0.5rem;
    }
}