#woocommerce-wrapper {
    background-color: $yellow;
    .container {
        margin-top: 64px;
    }
    .woocommerce {
        .woocommerce-breadcrumb {
            color: $primary;
            a {
                color: $primary;
                text-decoration: none;
                &:hover {
                    color: $primary;
                    text-decoration: underline;
                }
            }
        }
    }
}

.woocommerce-breadcrumb {
    color: $primary;
    a {
        color: $primary !important;
        text-decoration: none !important;
        &:hover {
            color: $primary !important;
            text-decoration: underline !important;
        }
    }
}

.woocommerce-tabs {
    display: none;
}

.product_meta {
    display: none;
}

table.cart {
    img {
        width: 300px;
    }
}

.woocommerce-cart {
    table.cart {
        img {
            width: 300px;
        }
    }
}

.woocommerce-checkout {
    table.cart {
        img {
            width: 300px;
        }
    }
}

.woocontainer {
    margin-top: 6rem !important;
}

.alert-info {
    color: $white;
    background-color: $alert;
    border-color: $muertos2-05;
}

.woocommerce-info {
    color: $primary;
    background-color: $alert;
    border-color: $muertos2-05;
}

.woocommerce-checkout #payment {
    background-color: $yellow;
    border-color: $muertos2-05;
}