.social-footer {
    padding: 10px;
    li {
        display: inline-block;
    }
    a {
        color: $pink;
        padding: 0 10px 0 10px;
        &:hover {
            color: $blue;
        }
    }
}

.ast-footer-copyright {
    p {
        color: $white;
        font-size: 15px;
        a {
            color: $white;
            &:hover {
                text-decoration: underline;
                color: $yellow;
            }
        }
    }
}

.site-primary-footer-wrap {
    padding: 0px;
}

.mailing-list-footer {
    margin-top: 10px;
}

//* This is to remove <p></p> at top and bottom of email signup widget in footer *//
#block-20 {
    p {
        //display: none !important;
    }
}

//** This is for the mailchimp signup bar **//
#mailchimp-top-bar.mctb-big {
    label {
        font-size: 15px;
        padding: 10px !important;
    }
}

#mailchimp-top-bar.mctb-big {
    .mctb-email {
        margin-top: -2px !important;
        padding-top: 15px !important;
        padding-right: 9px;
        padding-bottom: 15px !important;
        padding-left: 9px;
    }
    .mctb-label {
        margin-top: -2px !important;
        padding-top: 15px !important;
        padding-right: 9px;
        padding-bottom: 15px !important;
        padding-left: 9px;
    }
    input {
        margin-top: -2px !important;
        padding-top: 15px !important;
        padding-right: 9px;
        padding-bottom: 15px !important;
        padding-left: 9px;
    }
}