@media only screen and (max-width: 500px) {
    h1 {
        font-size: 42px;
    }
    .site-title {
        font-size: 42px;
    }
    .lede {
        p {
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -0.1px;
            line-height: 26px;
        }
    }
    //* ALIGNS HEADER TEXT LEFT ON MOBILE *//
    .site-header {
        text-align: left;
    }
}