body {
    color: $text;
    background-color: $white;
    font-family: 'Work Sans';
    font-weight: 400;
}

@media only screen and (min-width: 501px) {
    .home-lede {
        max-width: 250px;
        margin: auto;
        margin-top: 100px;
    }
}