// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$primary: $black;
$black: #290600;
$white: #f9f9f9;

/* Mexican Jeweler ColorblindSafe: */
//$red: #C2210E;
$olive: #9fa66a;
//$tan: #D9CAAD;
$brown: #401e01;
$dark-red: #8F190B;
$orange: #f29727;

/* Guadalajara */
/* Color Theme Swatches in Hex */
$Guadalajara-1: #a61f2b;
$Guadalajara-2-hex: #337d78;
$Guadalajara-3-hex: #d9c6a3;
$Guadalajara-4-hex: #593414;
//$brown: #593414;
$tan: #d9c6a3;
//$tan: #F2CDA0;
$red: #a61f2b;

$Guadalajara-5-hex: #d9aba0;

/* Color Theme Swatches in Hex */
$JUAN-POLLO-1-hex: #011c40;
$JUAN-POLLO-2-hex: #3f8c52;
$JUAN-POLLO-3-hex: #f29727;
$JUAN-POLLO-4-hex: #f28322;
$JUAN-POLLO-5-hex: #d93814;

/*Autumn Landscape of the Sangre de Cristo Mountains in New Mexico*/
$blue: #0597f2;
$lightblue: #05aff2;
$lightorange: #f29f05;
$darkorange: #d97904;
$cristo-brown: #733702;

/* Text */

$text: $black;
$link: #0f0051;
$hover: #0f0051;

/* Forms */

$focus: #280e7f;
$success: #25ce83;
$error: #f60;
