
body {
    background-color: $tan;
}

.container {
	max-width: 1136px;
}
.container-lg {
	max-width: 1136px;
}
/*.container-md {
	max-width: 1136px;
}
.container-sm {
	max-width: 1136px;
}*/
.container-xl {
	max-width: 1136px;
}
.container-xxl {
	max-width: 1136px;
}

//* SEPARATOR **//

hr {margin: 2.0rem 0 2.0rem 0; 
color: $dark-red;
border: 0;
    border-top-color: $dark-red;
    border-top-style: none;
    border-top-width: 0px;
    border-bottom-color: $dark-red;
    border-bottom-style: none;
    border-bottom-width: 0px;
	opacity: 1.0;
	.wp-block-separator {
		border-top: 1px solid;
		border-bottom: 1px solid;
		opacity: 1.0 !important;
	}

}

//* BOOK PAGE *//

.price {margin-top: 2rem;}

//* ACCORDION *//

.wp-block-coblocks-accordion-item__title.has-background {
	&:not(.has-background) {
		background: transparent;
	}
	border-radius: 4px;
	padding: 0;
	position: relative;
}
.wp-block-coblocks-accordion-item__title {
	&:not(.has-background) {
		background: transparent;
	}
	border-radius: 4px;
	padding: 0;
	position: relative;
	font-style: italic;
	font-weight: bold;
}



