// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$primary: $black;
$black: #290600;
$white: #f9f9f9;

/* Mexican Jeweler ColorblindSafe: */
//$red: #C2210E;
$olive: #9FA66A;
//$tan: #D9CAAD;
$brown: #401e01;
//$dark-red: #8F190B;
$orange: #F29727;

/* Guadalajara */
/* Color Theme Swatches in Hex */
$Guadalajara-1: #A61F2B;
$Guadalajara-2-hex: #337D78;
$Guadalajara-3-hex: #D9C6A3;
$Guadalajara-4-hex: #593414;
//$brown: #593414;
$tan: #D9C6A3;
//$tan: #F2CDA0;
$red: #A61F2B;

$Guadalajara-5-hex: #D9ABA0;


/* Color Theme Swatches in Hex */
$JUAN-POLLO-1-hex: #011C40;
$JUAN-POLLO-2-hex: #3F8C52;
$JUAN-POLLO-3-hex: #F29727;
$JUAN-POLLO-4-hex: #F28322;
$JUAN-POLLO-5-hex: #D93814;




/*Autumn Landscape of the Sangre de Cristo Mountains in New Mexico*/
$blue: #0597F2;
$lightblue: #05AFF2;
$lightorange: #F29F05;
$darkorange: #D97904;
$cristo-brown: #733702;


/* Text */

$text: $black;
$link: #0F0051;
$hover: #0F0051;

/* Forms */

$focus: #280E7F;
$success: #25ce83;
$error: #f60;