#wrapper-navbar {background-color:pink !important;
}

body {
    background-color: $tan;
}

.entry-title {
    color: $dark-red !important;
    font-size: 3.5rem;
}

.container {
	max-width: 1136px;
}
.container-lg {
	max-width: 1136px;
}
/*.container-md {
	max-width: 1136px;
}
.container-sm {
	max-width: 1136px;
}*/
.container-xl {
	max-width: 1136px;
}
.container-xxl {
	max-width: 1136px;
}


