#wrapper-footer {
    .wrapper {
        background-color: $brown !important;
    }
}

.footer-wrapper {
    background-color: $brown;
    color: $tan;

}

.site-info {
    font-size: 0.9rem;
    text-align:center;
    p {
        padding-top: $spacer;
    }
    a {
        color: $tan;
        text-decoration: underline;
        &:hover {
            color: $orange;
        }
        &:focus {
            color: $orange;
        }
    }
}

