/* 
For all info on bootstrap media queries, see this page:
https://getbootstrap.com/docs/5.0/layout/breakpoints/

Call the media queries using the functions outlined on the page.
See https://www.understrapacademy.com/courses/take/instant-understrap/lessons/25540560-extraordinarily-simple-css-bootstrap-s-grid-responsive-breakpoints-sass-nesting-and-more
around the 13 minute mark for more.
*/

@include media-breakpoint-down(sm) {
    
h1 {
    font-size: 2.3rem;
    .navbar-brand {
        font-size:2.3rem;
    }
 }
 
 h2 {
    font-size: 3.0rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
 }
 
 h3 {
    font-size: 2.5rem;
    .book-subheading {
        font-size: 1.75rem;
    }
 }
 
 h4 {
    font-size: 1.75rem;
 }
 
 h5 {
    font-size: 1.5rem;
 }
 
 h6 {
    font-size: 1.25rem;
 }

 .book-subheading {
     font-size: 1.75rem;
 }

 ol, ul {
    padding-left: 1rem;
}

 
    .wp-block-pullquote {
        padding: 0 1rem 0 1rem;
        margin: 0 0 1.5rem 0;

    }

    .wp-block-quote {
        margin-left: 0;
        margin-right: 0;
        padding: 0 0 1.5rem 0;
        p {
            font-size: 1.25rem;
            font-weight: 400;
            font-style: italic;
        }
        cite {
            line-height: 1;
        }
    }
}

#front-page {
	.wp-block-quote {
		margin-left: 0;
		margin-right: 0;
		padding: 0 0.5rem 0.5rem 0.5rem;
	}
}


.mobi-show
{
    display: block;
  }

  @include media-breakpoint-up(sm) {
    .mobi-show {
      display: none;
    }
}

