/*
FIRST, SOME MATH TRANSLATING REM INTO PX:
3.5rem = 56px;
3rem = 16px * 3 = 48px,
2.5rem = 40px,
1.75rem = 28px,
1.5rem = 24px;
1.25rem = 20px;
1.125rem = 18px;
0.85rem = 14px;

*/

body {
   font-family: "archiaregular", Arial, Helvetica, sans-serif;
   font-size: 1.125rem; 
  /*   font-family: "Source Code Pro", Arial, Helvetica, sans-serif;  */
/*   font-family: "Montserrat", Arial, Helvetica, sans-serif; */
}


h1, h2, h3, h4, h5, h6 {
   font-family: "Bebas Neue", Helvetica, sans-serif; 
 /* font-family: 'Fjalla One', 'Times New Roman', Times, serif, sans-serif;
  text-transform: uppercase; */
 /*   font-family: "Playfair Display", Helvetica, sans-serif;
font-weight: 900;
*/}

.entry-title {
   /*color: $brown !important;*/
   @extend h1;
}


h1 {
   font-size: 3.5rem;
   font-weight: 700;
   letter-spacing: 0.1rem;
}

h2 {
   font-size: 3.0rem;
   font-weight: 700;
   letter-spacing: 0.075rem;
}

h3 {
   font-size: 2.5rem;
}

h4 {
   font-size: 1.75rem;
}

h5 {
   font-size: 1.5rem;
}

h6 {
   font-size: 1.25rem;
}

.wp-block-quote {
   margin-left: 1.5rem;
   margin-right: 1.5rem;
   border-left: 5px solid $red;
   padding: 0 1.5rem 0 1.5rem;
   p {
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
   }
	cite {
      color: $text;
   }
}



.wp-block-pullquote {
   border-top: 5px solid $red;
   border-bottom: 5px solid $red;
   padding: 1.5rem 3rem 1.5rem 3rem;
   margin: 1.5rem 0 1.5rem 0;
   p {
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      font-size: 1.75rem;
      font-weight: 600;
      font-style: italic;
      margin-bottom: 0;
   }
}